.main_div {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100;
}

.banner {
  flex:2;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Set the width of the container */
  position: relative;
  overflow: hidden;
}


.banner img{
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%; /* Ensure the image fits within the container */
  position: absolute; /* Position the image */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Move the image up and left by half of its width and height */
}

.login {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login p {
  font-size: 18px;
  font-weight: medium;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  height: 143;
}

.login form {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.login form input {
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
}

.login form button {
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  background-color: #00533d;
  color: white;
  cursor: pointer;

  font-size: 18px;
  font-weight: medium;
}

.rememberme {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 300px;
}
